@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... */

@layer base {
  :root {
    --gray-0: #ffffff;
    --gray-5: #f8f8f8;
    --gray-10: #f9f9f9;
    --gray-25: #dedede;
    --gray-50: #9999a1;
    --gray-70: #5b5b5b;

    --blue-5: #e3f2fd;
    --blue-10: #89c2d9;
    --blue-20: #468faf;
    --blue-30: #014f86;
    --blue-40: #012a4a;

    --radius: 0.5rem;
  }
}

body {
  @apply bg-gray-5  min-h-screen;
}











